/* Watchlist Container */
.watchlist-container {
    background-color: #050505;
    border-radius: 10px;
    padding: 20px;
    margin-top: 70px; /* Adjust based on navbar height */
    border: solid rgb(69, 67, 67);
    border-radius: 5%;
    width: 400px;
  }
  
  .watchlist-container h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  /* Watchlist Items */
  .watchlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .watchlist-item {
    display: flex;
    align-items: center;
    background-color: #313131;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .watchlist-item:hover {
    background-color: #f1f1f1;
  }
  
  .watchlist-logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .watchlist-info h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
  }
  
  .watchlist-info p {
    font-size: 14px;
    margin: 0;
    color: #6c757d;
  }
  
  .watchlist-price {
    margin-left: auto;
    text-align: right;
  }
  
  .watchlist-price p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
  }
  
  .watchlist-price img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
  }
  